.wrapper {
   display: flex;
   flex-flow: row;
}

.wrapper :first-child {
   border-top-left-radius: 3px;
   border-bottom-left-radius: 4px;
}

.wrapper :last-child {
   border-top-right-radius: 3px;
   border-bottom-right-radius: 4px;
}

pricer {
   position: fixed;
   margin: 0;
   padding: 0;
   height: 1.5em;
   width: 275px;
}

.element,
.separator {
   cursor: pointer;
   padding: 0.25em 2px 0;
   text-align: center;
   min-height: 1.5em;
   min-width: 25px;
   min-height: 1.5em;
   color: black;
   font-weight: 600;
}

.separator {
   cursor: none;
}

.less {
   background-color: #369e16;
   border: thin solid black;
}

.more {
   background-color: #c96c36;
   border: thin solid black;
}